* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    background-color: #f6f6f8;
    margin-bottom: 20px;
}

a {
    text-decoration: none !important;

}

#header a {
    margin-right: 10px !important;
    color: #878787;
}

#header2 .box {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center;
}

#header2 .box a {
    color: #212529;
}

#header2 .botbox {
    align-items: center;
}

#header2 .botbox i {
    margin-right: 10px !important;
}

#Slider {
    text-align: center;
    align-items: center;
    padding: 20rem 0;
    position: relative;
    z-index: 1;
    background-image: url(https://wp.the4.co/kalles/wp-content/uploads/2021/07/slideshow_image.jpg);
}

#Slider img {
    width: 100%;
    background-size: cover;
}

#Slider p {
    color: white;
}

#Slider h1 {
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    z-index: 1;
}

#Slider a {
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px 15px;
    color: white;
}

.overlay {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #02010133;
    z-index: -1;
}

#products {
    margin-top: 50px;
}

.probox img {
    width: 100%;
    transition: 0.7s;

}

.probox {
    position: relative;
    overflow: hidden;
}

.probox a {
    position: absolute;
    border: 1px solid gray;
    top: 80%;
    left: 28%;
    padding: 5px 35px;
    background-color: aliceblue;
    color: gray;

}
.probox .a1 {
    position: absolute;
    border: 1px solid gray;
    top: 80%;
    left: 25%;
    padding: 5px 35px;
    background-color: aliceblue;
    color: gray;

}
.probox .a2 {
    position: absolute;
    border: 1px solid gray;
    top: 80%;
    left: 25%;
    padding: 5px 35px;
    background-color: aliceblue;
    color: gray;

}
.probox .a3 {
    position: absolute;
    border: 1px solid gray;
    top: 80%;
    left: 30%;
    padding: 5px 35px;
    background-color: aliceblue;
    color: gray;

}

.probox:hover img {
    transform: scale(1.2);
}

.txt {
    position: absolute;
    left: 10px;
    bottom: 0;
}

.probox1 {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.top {
    overflow: hidden;

}

.txt1 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.7s;

}

.txt2 {
    position: absolute;
    top: 20px;
    left: 0;
    opacity: 0;
    transition: 0.7s;
}

.probox1 img {
    width: 100%;
    transition: 0.7s;
}

.probox1:hover .txt1 {
    opacity: 1;
}

.probox1:hover .txt2 {
    opacity: 1;
}

.txt3 {
    position: absolute;
    opacity: 0;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    transition: 0.7s;
    width: 100%;
    z-index: 1;

}

.txt3 a {
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 5px 15px;
    background-color: white;
    color: black;
    display: inline-block;
    margin-left: 30%;

}

.txt3 :nth-child(1) {
    margin-bottom: 10px;
}


.probox1:hover .txt3 {
    opacity: 1;
    top: 35%;

}

.probox1:hover .bottom {
    opacity: 1;
    z-index: 0;
}

.bottom {

    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.7s;
    background: linear-gradient(0deg, rgba(0, 0, 0.3)0, rgba(0, 0, 0, 0)100%);
}

.probox1:hover .top .buttons {
    opacity: 1;
}

.top .buttons {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.bottom:hover .top {
    opacity: 0;
}

.top .buttons a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    width: 150px;
    border-radius: 20px;
    background: white;
    color: #000;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    transition: background-color .1s;
}

.buttons a:hover {
    background-color: #222;
    color: #fff;
}

.top .buttons a:hover span {
    transform: translateY(-50px);
}

.top .buttons a:hover i {
    top: 50%;
}

.top .buttons a span {
    transition: all .3s;
    display: inline-block;
}

.top .buttons a i {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s;
}

.bottom a {
    display: block;
    margin-top: 75%;
    color: white;
}

.bottom a:hover {
    color: white;
}

.bottom p {
    color: white;
}

.i1 {
    color: pink;
}

.i2 {
    color: gold;
}

.bottom a :hover .txt3 a {
    opacity: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.probox2 {
    position: relative;
    overflow: hidden;
    align-items: center;
}

.probox2 img {
    width: 100%;
    transition: 0.7s;

}

.probox2 p {
    font-size: 1rem;
}

.probox2 a {
    border: 2px solid #212529;
    background-color: transparent;
    color: #212529;
    border-radius: 20px;
    padding: 5px 15px;
}

.probox2:hover img {
    transform: scale(1.2);
}

.bot2 {
    position: absolute;
    text-align: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



#trending .container .title-text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#trending .container .title-text h3 {
    color: #222222;
    font-size: 24px;
    font-weight: 600;
    position: relative;
}

#trending .container .title-text h3::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: #000;
    top: 50%;
    transform: translateY(-50%);
    right: 40%;
}

#trending .container .title-text h3::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: #000;
    top: 50%;
    transform: translateY(-50%);
    left: 40%;
}

#trending .container .title-text .title {
    color: #878787;
    font-size: 14px;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
}

#trending .container .row .item .image {
    position: relative;
    overflow: hidden;
}

#trending .container .row .item .image .icons {
    position: absolute;
    top: 0;
    left: 10px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity .3s;
}

#trending .container .row .item .image .icons i {
    margin-top: 10px;
    color: white;
    font-size: 18px;
}

#trending .container .row .item .image .sale {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #FF4E00;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
}

#trending .container .row .item .image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .1);
    transition: opacity .3s;
    opacity: 0;
}

#trending .container .row .item .image:hover::before {
    opacity: 1;
}

#trending .container .row .item .image:hover .icons {
    opacity: 1;
}

#trending .container .row .item .image:hover .buttons {
    opacity: 1;
    top: 50%;
}


#trending .container .row .item .image:hover .icons .icon {
    position: relative;
}

#trending .container .row .item .image .icons .icon span {
    position: absolute;
    transform: translateY(-50%);
    top: 55%;
    left: 130%;
    background: black;
    color: white;
    padding: 0 5px;
    white-space: nowrap;
    font-size: 14px;
    opacity: 0;
    transition: opacity .3s;
}

#trending .container .row .item .image .icons .icon .animate:hover {
    animation: rotate 1s .1s infinite;
}

#trending .container .row .item .image .icons .icon:hover span {
    opacity: 1;
}

#trending .container .row .item .image .buttons {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s;
    display: flex;
    flex-direction: column;
}

#trending .container .row .item .image .buttons a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    width: 150px;
    border-radius: 20px;
    background: white;
    color: #000;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    transition: background-color .1s;
}

#trending .container .row .item:hover .image img {
    display: none;
}

#trending .container .row .item:hover .image .image2 {
    display: inline;
    animation: zoom 2s linear forwards;
}

#trending .container .row .item .image .buttons a:hover {
    background-color: #222;
    color: #fff;
}

#trending .container .row .item .image .buttons a:hover span {
    transform: translateY(-50px);
}

#trending .container .row .item .image .buttons a:hover i {
    top: 50%;
}

#trending .container .row .item .image .buttons a span {
    transition: all .3s;
    display: inline-block;
}

#trending .container .row .item .image .buttons a i {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s;
}

#trending .container .row .item .image img {
    width: 100%;
}

#trending .container .row .item .image .image2 {
    display: none;
}

#trending .container .row .item .text {
    margin-top: 20px;
}

#trending .container .row .item .text h6 {
    font-size: 14px;
    color: #222;
    margin-bottom: 0.3rem;
    transition: color .3s;
    cursor: pointer;
}

#trending .container .row .item .text p {
    color: #696969;
    font-size: 14px;
}

#trending .container .row .item .text h6:hover {
    color: #56cfe1;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes zoom {
    to {
        transform: scale(1.1);
    }
}
#ours .container .title-text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#ours .container .title-text h3 {
    color: #222222;
    font-size: 24px;
    font-weight: 600;
    position: relative;
}

#ours .container .title-text h3::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: #000;
    top: 50%;
    transform: translateY(-50%);
    right: 35%;
}

#ours .container .title-text h3::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: #000;
    top: 50%;
    transform: translateY(-50%);
    left: 35%;
}

#ours .container .title-text .title {
    color: #878787;
    font-size: 14px;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
}

#ours .container .row .item .image {
    position: relative;
    overflow: hidden;
}

#ours .container .row .item .image .icons {
    position: absolute;
    top: 0;
    left: 10px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity .3s;
}

#ours .container .row .item .image .icons i {
    margin-top: 10px;
    color: white;
    font-size: 18px;
}

#ours .container .row .item .image .sale {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #FF4E00;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
}

#ours .container .row .item .image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .1);
    transition: 0.3s;
    opacity: 0;
}

#ours .container .row .item .image:hover::before {
    opacity: 1;
}

#ours .container .row .item .image:hover .icons {
    opacity: 1;
}

#ours .container .row .item .image:hover .buttons {
    opacity: 1;
    top: 50%;
}


#ours .container .row .item .image:hover .icons .icon {
    position: relative;
}

#ours .container .row .item .image .icons .icon span {
    position: absolute;
    transform: translateY(-50%);
    top: 55%;
    left: 130%;
    background: black;
    color: white;
    padding: 0 5px;
    white-space: nowrap;
    font-size: 14px;
    opacity: 0;
    transition: opacity .3s;
}

#ours .container .row .item .image .icons .icon .animate:hover {
    animation: rotate 1s .1s infinite;
}

#ours .container .row .item .image .icons .icon:hover span {
    opacity: 1;
}

#ours .container .row .item .image .buttons {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s;
    display: flex;
    flex-direction: column;
}

#ours .container .row .item .image .buttons a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    width: 150px;
    border-radius: 20px;
    background: white;
    color: #000;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    transition:  0.1s;
}

#ours .container .row .item:hover .image img {
    display: none;
}

#ours .container .row .item:hover .image .image2 {
    display: inline;
    animation: zoom 2s linear forwards;
}

#ours .container .row .item .image .buttons a:hover {
    background-color: #222;
    color: #fff;
}

#ours .container .row .item .image .buttons a:hover span {
    transform: translateY(-50px);
}

#ours .container .row .item .image .buttons a:hover i {
    top: 50%;
}

#ours .container .row .item .image .buttons a span {
    transition: all .3s;
    display: inline-block;
}

#ours .container .row .item .image .buttons a i {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s;
}

#ours .container .row .item .image img {
    width: 100%;
}

#ours .container .row .item .image .image2 {
    display: none;
}

#ours .container .row .item .text {
    margin-top: 20px;
}

#ours .container .row .item .text h6 {
    font-size: 14px;
    color: #222;
    margin-bottom: 0.3rem;
    transition: color .3s;
    cursor: pointer;
}

#ours .container .row .item .text p {
    display: inline;
    color: #696969;
    font-size: 14px;
}
#ours .types a{

  margin-right: 30px;

  
}
.best1{
border: 1px dashed white;
padding: 5px 15px;
border-radius: 20px;
color: #212529;

}

.best1:hover{
border-color: black;
color: #212529;
}
.best{
margin-right: 30px;
border: 1px dashed #212529;
padding: 5px 15px;
border-radius: 20px;
color: #212529;
}
.best:hover{
    color: #212529;
}


#ours .container .row .item .text h6:hover {
    color: #56cfe1;
}
.i5{
    color: #212529;
}
.i6{
    color: #56cfe1;
}
.i7{
    color: #878787;
}
.i8{
    color:  #adb5bd;;
}
.i9{
    color: #ced4da;
}
#blog{
    margin-top: 50px;
}

#blog .container .title-text h3::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: #000;
    top: 50%;
    transform: translateY(-50%);
    right: 30%;
}

#blog .container .title-text h3::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: #000;
    top: 50%;
    transform: translateY(-50%);
    left: 30%;
}
#blog .container .title-text h3 {
    color: #222222;
    font-size: 24px;
    font-weight: 600;
    position: relative;
}
#blog .text a{
    color: #212529;
    font-size: 1rem;
    display: inline-block;
    margin-top: 10px;
}
#blog .text h6{
    font-size: 14px;
    margin-top: 10px;
}
#blog .text p{
    font-size: 14px;
    margin-top: 10px;
}
#blog .db1:hover img{
    transform: scale(1.2);
}
#blog .item .image img{
    width: 100%;
    transition: 0.7s;
}
#blog .item{
    overflow: hidden;
}


#insta{
    margin-top: 50px;
}
#insta .container-fluid .title-text h3::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: #000;
    top: 50%;
    transform: translateY(-50%);
    right: 30%;
}

#insta .container-fluid .title-text h3::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: #000;
    top: 50%;
    transform: translateY(-50%);
    left: 30%;
}
#insta .container-fluid .title-text h3 {
    color: #222222;
    font-size: 24px;
    font-weight: 600;
    position: relative;
}
#insta .image{
    width: 100%;
    overflow: hidden;
    position: relative;
}
#insta .item .image img{
    height:auto;
    width: 100%;    
    transition: 0.7s;
    
}
#insta .image:hover img{
    transform: scale(1.3);
}
#insta .image a{
    border: 2px solid white;
    background-color: black;
    padding: 1px 8px;
    color: white;
    border-radius: 100%;
    position: absolute;
    top: 30%;
    left: 40%;
}
.dot3{
    top: 20% !important;
    left: 60% !important;
}
.dot7{
    border: 2px solid white;
    background-color: black;
    padding: 1px 8px;
    color: white;
    border-radius: 100%;
    position: absolute;
    top: 70% !important;
    left: 30% !important;
}
#last1{
    margin-top: 70px;
    margin-bottom: 70px;
}
#last1 i {
font-size: 30px;
}
.box1{
    display: flex;
}
.box1 .left{
    width: 20%;
}
.box1 .right{
    width: 80%;
}
.box1 .right p{
    font-size: 14px;
}
.box1 .right h3{
    font-size: 14px;
}
.l1l{
    justify-content: space-between;
}
footer {
    background-color:  #F6F6F8;
   padding-top: 3rem ;
}
footer a{
    color: #878787;
    display: block;
    margin-top: 13px;
    text-align: left;
    margin-left: 0;
  
}
footer h3{
    font-size: 16px;
    font-weight: 700;
   
}
footer p{
    color: #878787;
    
}
footer .col-lg-4 .input button{
    background-color: black;
    color: white;
    position: absolute;
    right:  12rem;
    padding: 8px 0;
  
 
}
footer .col-lg-4 .input-text{
    position: relative;
    padding: 8px 25px;
   
}
  .footer-end {
    background-color: #222222;
    width: 100%;
    padding: 8px 0;
}
footer .footer-end  a  {
color: #fff;
 
justify-content: start !important;
}
footer .footer-end p{
    color: #fff;
}